<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>164858996172-q0ckqts46dvek94uc1jvam870ggs026i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164858996172-q0ckqts46dvek94uc1jvam870ggs026i</string>
	<key>API_KEY</key>
	<string>AIzaSyA3CrvyK2TIb6ttWiO_rr5PYoqETs-SiHI</string>
	<key>GCM_SENDER_ID</key>
	<string>164858996172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ruby-china.app</string>
	<key>PROJECT_ID</key>
	<string>ruby-china-1358</string>
	<key>STORAGE_BUCKET</key>
	<string>ruby-china-1358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164858996172:ios:05f7811220d0d540</string>
	<key>DATABASE_URL</key>
	<string>https://ruby-china-1358.firebaseio.com</string>
</dict>
</plist>